* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0E1E25;
    color: #DDE7EA;
}

.container {
    display: grid;
    grid-template-rows: 1fr 10fr;
    height: 100vh;

    border: 1px solid black;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 30px 50px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);


    /* box-shadow: inset; */
}

.title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.title-logo {
    font-size: 2rem;
    font-family: 'IBM Plex Serif', serif;
    color: #00ED64;
    font-weight: 100;
}

.title-img svg {
    width: 3rem;
    height: 3rem;
    fill: #00ED64;
}

.header-links {
    display: flex;
    gap: 40px;
    text-decoration: none;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
}

.header-links a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #DDE7EA;
    font-size: 1rem;
}

.header-links a:hover {
    opacity: 0.5;
}

/* for todolist items */
.json-view {
  font-family: 'Source Code Pro', monospace;
  background-color: #142E35;
  padding: 1rem;
  border-radius: 8px;
  color: #00ED64;
  font-size: 0.9rem;
  line-height: 1.5;
}



